.manage-schedule-container {
    .manage-schedule-title {
        text-transform: uppercase;
        margin-top    : 15px;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
        margin-bottom : 15px;
    }

    .pick-hour-container {
        display       : flex;
        padding-top   : 20px;
        padding-bottom: 20px;
        gap           : 30px;
        flex-wrap     : wrap; //Khi thu nhỏ màn hình tự động sắp xếp lại

        .btn-schedule {
            border     : 1px solid gray;
            padding    : 0 5px !important;
            font-weight: 500;
            background : rgb(86, 130, 139);
            color      : white;

            &:hover {
                border: 1px solid rgb(27, 164, 172);
                color : rgb(0, 242, 255);
            }

            &.active {
                border    : 1px solid rgb(195, 255, 0);
                color     : rgb(255, 255, 255);
                background: orange;
            }
        }
    }



    .btn-save-schedule {
        margin-top: 13px;
        width     : 120px;
    }
}