.home-header-container {
    width  : 100%;
    display: inline;

    .sticky-wrapper {
        position: sticky;
        top     : 0;
        z-index : 1000;

        .home-header-content {
            width  : 100%;
            height : 100px;
            display: flex;

            background: #369f6a;

            .left-content {
                height     : 80px;
                width      : 25%;
                display    : flex;
                align-items: center;
                padding    : 0 140px 0 20px;

                .menu {
                    height      : 30%;
                    margin-right: 50px;
                    margin-left : 10px;
                    cursor      : pointer;
                }

                .logo {
                    margin-top: 13px;
                    height    : 150%;
                    cursor    : pointer;
                }

                .fa-bars {
                    font-size   : 25px;
                    color       : gray;
                    margin-left : 40px;
                    margin-right: 20px;
                }

                .header-logo {

                    background-size: contain;
                    height         : 90%;
                    width          : 100%;
                    cursor         : pointer;
                }
            }

            .center-content {
                width          : 50%;
                align-items    : center;
                justify-content: end;
                display        : flex;

                .login {
                    font-size     : 17px;
                    color         : initial;
                    font-family   : 'OpenSansSemiBold';
                    text-transform: uppercase;
                    color         : white;
                    border        : none;
                    border-radius : 20px;
                    padding       : 4px 14px;
                    background    : #193a8d;
                    font-weight   : 600;
                    margin-right  : 30px;
                }

                .regient {
                    font-size     : 17px;
                    color         : #193a8d;
                    font-family   : 'OpenSansSemiBold';
                    text-transform: uppercase;
                    border        : 1px solid #193a8d;
                    border-radius : 20px;
                    padding       : 4px 25px;
                    font-weight   : 600;
                }


            }

            .right-content {
                height         : 80px;
                width          : 25%;
                display        : flex;
                margin-top     : 10px;
                align-items    : center;
                justify-content: end;

                .support {
                    padding-right: 150px;
                    cursor       : pointer;

                    i {
                        padding  : 0 2px;
                        font-size: 17px;
                    }
                }

            }
        }
    }
}

.body-container {
    width  : 90%;
    display: flex;
    margin : auto;

    .centent-right {
        width: 50%;

        .title {
            padding-bottom: 10px;
            padding-top   : 15px;
            font-size     : 25px;
        }

        .body {
            font-size: 16px;


            ul {}

            li {
                list-style-type: none;
                padding-bottom : 7px;

                input {
                    margin-top: 5px;
                }
            }

            .btnUpdate {
                display      : block;
                margin       : auto;
                border       : none;
                padding      : 7px 25px;
                border-radius: 12px;
                background   : #193a8d;
                color        : white;
                font-weight  : 600;
                font-family  : "OpenSansSemiBold";

                &:hover {
                    background: #3e5ba6;
                    color     : rgb(170, 165, 165);
                }
            }
        }
    }

    .content-left {
        width: 50%;

        .title {
            padding-bottom: 10px;
            padding-top   : 15px;
            font-size     : 25px;
        }

        .body {
            font-size: 16px;

            ul {
                margin-top: 25px;

                li {
                    list-style-type: none;
                    padding-bottom : 7px;

                    input {
                        margin-top: 5px;
                    }

                    .custom-input-password {
                        position: relative;

                        i {
                            position: absolute;
                            right   : 20px;
                            top     : 10px;
                            cursor  : pointer; //Hiện hình bàn tay
                        }
                    }
                }
            }

            .btnUpdatePassword {
                display      : block;
                margin       : auto;
                border       : none;
                padding      : 7px 10px;
                border-radius: 12px;
                background   : #193a8d;
                color        : white;
                font-weight  : 600;
                font-family  : "OpenSansSemiBold";

                &:hover {
                    background: #3e5ba6;
                    color     : rgb(170, 165, 165);
                }
            }
        }
    }
}