.doctor-chedule-container {
    height      : 100%;
    border-right: 1px solid #ddd;

    .all_schedule {

        select {
            margin       : 10px 5px;
            font-weight  : 500;
            color        : rgb(89, 0, 255);
            border       : none;
            font-size    : 15px;
            border-bottom: 2px solid rgb(85, 90, 135);
            cursor       : pointer;
            outline      : none;

            option {
                cursor: pointer;
            }
        }
    }

    .all-available-time {

        .text-calendar {
            margin: 5px 0;

            i {
                margin: 0 5px;
            }

            span {
                text-transform: uppercase;
                margin-left   : 5px;
                font-family   : 'Times New Roman', Times, serif;
            }
        }



        .time-content {
            margin      : 15px 5px;
            display     : flex;
            gap         : 15px;
            flex-wrap   : wrap;
            margin-right: 5px;

            .book-free {
                margin-top: 8px;
                display   : block;
                width     : 100%;
            }

            button {
                background      : #fff04b !important;
                font-weight     : 500;
                padding         : 5px 10px;
                border          : none;
                outline         : none;
                background-color: gray;
                min-width       : 150px;
                border-radius   : 3px;
                color           : #333;

                &:hover {
                    background : #45c3d2 !important;
                    color      : white;
                    font-weight: 600;
                }
            }
        }

        .none-schedule {
            font-size  : 17px;
            font-weight: 600;
            color      : #fd8700;
        }
    }
}