.register-background {
    height    : 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);


    .register-container {

        width        : 450px;
        margin       : auto;
        top          : 0;
        right        : 0;
        left         : 0;
        bottom       : 0;
        height       : 630px;
        position     : absolute;
        background   : white;
        border-radius: 10px;

        .register-content {
            padding: 0 15px;

            .Email,
            .Password,
            .Phonenumber,
            .address {
                padding-bottom: 2px;
            }


            .Register {
                text-align : center;
                font-weight: 600px;
                font-size  : 24px;
                padding-top: 10px;
                font-weight: bold;


            }

            .btn-register {
                width        : 100%;
                margin       : 10px 0;
                height       : 35px;
                color        : white;
                font-size    : 16px;
                border-radius: 15px;
                outline      : none;
                border       : none;
                background   : rgb(34, 193, 195);
                background   : linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }
        }
    }
}