//reset slick-prev đè lên css của thư viện
.slick-prev {
    z-index    : 100 !important; //đặt hiển thị lên trên cùng khỏi bị lớp khá đè lên
    height     : 48px !important;
    width      : 44px !important;
    left       : -24px !important;
    background : #fff !important;
    border     : 2px solid #d7d7d7 !important;
    text-align : center !important;
    padding-top: 5px !important;

    &:hover {
        background: #e8e8e8 !important;
    }
}

.slick-next {
    border     : 2px solid #d7d7d7 !important;
    right      : -10px !important;
    height     : 48px !important;
    width      : 44px !important;
    background : #fff !important;
    padding-top: 4px !important;
    text-align : center !important;

    &:hover {
        background: #e8e8e8 !important;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color      : red !important;
}

.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-specialty {
        background: #f5f5f5;

    }

    &.section-outstanding-doctor {
        background: #f5f5f5;

    }

    &.section-about {
        border-top   : 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        height       : 500px !important;
    }

    .section-body {
        .section-customize {
            .specialty-text {
                text-align : center;
                font-size  : 17px;
                font-weight: 500;
                padding-top: 10px;
            }

            .bg-image {
                height             : 200px;
                background-position: center center;
                background-repeat  : no-repeat;
                background-size    : cover;
                background-color   : #eee;
                margin-top         : 5px;
                margin-right       : 12px;

                &.section-medical-facility {
                    background-image: url("../../assets/images/handbook/image.png");
                }

                &.section-specialty {
                    background-image: url("../../assets/images/specialty/image.png");
                }

                &.section-outstanding-doctor {
                    // background-image: url("../../assets/images/specialty/image.png");
                    width        : 120px;
                    height       : 120px;
                    border-radius: 50%;
                }

                &.section-handbook {
                    background-image: url("../../assets/images/handbook/image.png");
                }
            }
        }

    }
}

.section-share {
    height: 340px;

    .section-container {
        margin        : 0 100px;
        display       : flex;
        flex-direction: column;
    }

    .section-header {
        height       : 60px;
        margin-bottom: 30px;
        padding-top  : 30px;

        .title-section {
            font-size  : 25px;
            font-weight: 600;
        }

        .btn-section {
            padding       : 10px 15px;
            border        : none;
            outline       : none;
            float         : right;
            cursor        : pointer;
            color         : black;
            border-radius : 5px;
            background    : #a6a6a6;
            text-transform: uppercase;
            margin-right  : 15px;

            &:hover {
                background   : #f7d800;
                color        : white;
                font-weight  : 500;
                border-radius: 5px;
            }
        }
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display        : flex;
        justify-content: center;
        margin-bottom  : 10px;
    }

    .section-customize {
        padding: 5px;
        cursor : pointer;

        .customize-border {
            border : 1px solid orange;
            padding: 20px;
        }
    }
}

.home-footer {
    text-align : center;
    padding-top: 8px;

    a {
        text-decoration: unset;
    }
}

.section-about {
    padding: 0 100px;

    .section-about-header {
        padding    : 20px 0px;
        font-weight: 600;
        font-size  : 22px;
    }

    .section-about-content {
        display: flex;
        gap    : 15px;
        width  : 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            // position: relative;  Gán giá trị của tk cha để căn giữa thằng con
            p {
                font-style   : italic;
                padding      : 15px;
                // position: absolute; 
                // top: 50%;
                // text-align: center;
            }
        }
    }
}