.home-header-container {
    width  : 100%;
    display: inline;

    .home-header-content {
        width     : 100%;
        height    : auto;
        display   : flex;
        position  : sticky; //Đặt cho phần header luôn fix cứng ở trên mỗi khi di chuyển
        top       : 0; //Đặt cho phần header luôn fix cứng ở trên mỗi khi di chuyển
        background: white; //Đặt cho phần header luôn fix cứng ở trên mỗi khi di chuyển
        z-index   : 1000; //Đặt cho phần header luôn fix cứng ở trên mỗi khi di chuyển

        .left-content {
            height     : 80px;
            width      : 25%;
            display    : flex;
            align-items: center;
            padding    : 0 140px 0 20px;

            img {
                height: 90%;
                cursor: pointer;
            }

            .fa-bars {
                font-size   : 25px;
                color       : gray;
                margin-left : 40px;
                margin-right: 20px;
            }

            .header-logo {

                background-size: contain;
                height         : 90%;
                width          : 100%;
                cursor         : pointer;
            }
        }

        .center-content {
            height         : 80px;
            width          : 50%;
            display        : flex;
            align-items    : center;
            justify-content: space-evenly;

            .child-content {
                .subs-title {
                    font-weight: 400;
                    font-size  : 12px;
                }
            }
        }

        .right-content {
            height         : 80px;
            width          : 25%;
            display        : flex;
            align-items    : center;
            justify-content: center;

            .support {
                padding-right: 50px;
                cursor       : pointer;

                i {
                    padding  : 0 2px;
                    font-size: 17px;
                }
            }

            .language-vi {
                cursor : pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }

                }

                &:hover {
                    opacity: 0.8;

                }
            }

            .language-en {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {
                        color: blue;
                    }
                }

                &:hover {
                    opacity: 0.8;

                }
            }
        }
    }
}

.home-header-banner {
    height             : 575px;
    background         : url('../../assets/images/HederBackground.jpg');
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;

    margin-bottom : 15px;
    display       : flex;
    flex-direction: column;


    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        padding-top     : 15px;
        height          : 50%;

        .title1 {
            text-align   : center;
            font-size    : 30px;
            color        : white;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 5px;
            margin-top   : 30px;
        }

        .title2 {
            text-align   : center;
            font-size    : 30px;
            color        : white;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 15px;

        }

        .search {
            width          : fit-content;
            display        : flex;
            justify-content: center;
            margin         : 0 auto;
            align-items    : center;
            padding        : 10px;
            background     : #f7d800;
            border-radius  : 25px;

            i {
                margin: 0 5px;
            }

            input {
                height    : 30px;
                width     : 360px;
                background: transparent;
                outline   : none;
                border    : none;

            }
        }
    }

    .content-down {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        height          : 50%;
        display         : flex; // Thêm để sử dụng Flexbox
        flex-direction  : column; // Đặt chiều dọc cho các phần tử con
        justify-content : flex-end; // Đẩy các phần tử xuống dưới cùng
        padding-bottom  : 10px;

        .options {
            text-align     : center;
            display        : flex;
            gap            : 50px;
            justify-content: center;

            .option-child {
                width: 125px;

                .icon-child {
                    background   : white;
                    width        : 40px;
                    height       : 40px;
                    padding      : 10px 0 0 0px;
                    border-radius: 50%;
                    margin       : 0 auto;

                    i {
                        font-size: 20px;
                        color    : rgb(0, 229, 255);
                    }
                }

                .text-child {
                    font-size  : 17px;
                    font-weight: 500;
                    cursor     : pointer;

                    &:hover {
                        color: rgb(0, 229, 255);
                    }
                }
            }
        }
    }


}