.container {
    width  : 100%;
    display: contents;

    .sticky-wrapper {
        position: sticky;
        top     : 0;
        z-index : 1000;

        .home-header-content {
            width  : 100%;
            height : 100px;
            display: flex;

            background: #369f6a;

            .left-content {
                height     : 80px;
                width      : 25%;
                display    : flex;
                align-items: center;
                padding    : 0 140px 0 20px;

                .menu {
                    height      : 30%;
                    margin-right: 50px;
                    margin-left : 10px;
                    cursor      : pointer;
                }

                .logo {
                    margin-top: 13px;
                    height    : 150%;
                    cursor    : pointer;
                }

                .fa-bars {
                    font-size   : 25px;
                    color       : gray;
                    margin-left : 40px;
                    margin-right: 20px;
                }

                .header-logo {

                    background-size: contain;
                    height         : 90%;
                    width          : 100%;
                    cursor         : pointer;
                }
            }

            .center-content {
                width          : 50%;
                align-items    : center;
                justify-content: end;
                display        : flex;

                .login {
                    font-size     : 17px;
                    color         : initial;
                    font-family   : 'OpenSansSemiBold';
                    text-transform: uppercase;
                    color         : white;
                    border        : none;
                    border-radius : 20px;
                    padding       : 4px 14px;
                    background    : #193a8d;
                    font-weight   : 600;
                    margin-right  : 30px;
                }

                .regient {
                    font-size     : 17px;
                    color         : #193a8d;
                    font-family   : 'OpenSansSemiBold';
                    text-transform: uppercase;
                    border        : 1px solid #193a8d;
                    border-radius : 20px;
                    padding       : 4px 25px;
                    font-weight   : 600;
                }


            }

            .right-content {
                height         : 80px;
                width          : 25%;
                display        : flex;
                margin-top     : 10px;
                align-items    : center;
                justify-content: end;

                .support {
                    padding-right: 150px;
                    cursor       : pointer;

                    i {
                        padding  : 0 2px;
                        font-size: 17px;
                    }
                }

            }
        }
    }

}

.Information-containt {
    width : 90%;
    margin: auto;

    .title-license {
        font-size     : 24px;
        text-transform: uppercase;
        font-weight   : 600;
        color         : #0071ba;
        text-align    : center;
        margin-top    : 30px;
        margin-bottom : 30px;
    }

    .form-group {
        display       : flex;
        flex-direction: column;
        padding       : 8px 10px;

        label {
            font-size     : 17px;
            padding-bottom: 4px;
        }

        input {
            font-size    : 16px;
            padding      : 5px 10px;
            border-radius: 4px;
            border       : 1px solid black;
        }

        .viewfile {
            cursor: pointer;
        }

        .view-image {
            margin-top: 20px;
            display   : flex;

            .hinh1 {
                width              : 300px;
                height             : 200px;
                background-repeat  : no-repeat;
                background-position: center;
                background-size    : cover;
                margin-right       : 30px;

            }

            .hinh2 {
                width              : 300px;
                height             : 200px;
                background-repeat  : no-repeat;
                background-position: center;
                background-size    : cover;

            }
        }

        .browse-profile {
            font-size     : 17px;
            color         : #ffffff;
            text-transform: uppercase;
            background    : #193a8d;
            border        : 1px solid #193a8d;
            border-radius : 15px;
            padding       : 4px 15px;
            font-weight   : 100;
            display       : block;
            margin        : 40px auto;

            &:hover {
                color     : #c0b0b0;
                background: #2c4584;
            }
        }
    }
}